.contato {
  display: flex;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 382px;
  background-image: linear-gradient(
      0.01deg,
      rgba(41, 49, 69, 0.7) 0%,
      rgba(41, 49, 69, 0.7) 100%
    ),
    url("../assets/computer.png");
}

.contato h1 {
  font-size: 40px;
  font-weight: 600;
}

.contato p {
  font-size: 18px;
  color: var(--grey-light);
  text-align: center;
  margin: 2rem 0;
}

.email {
  display: flex;
  gap: 1rem;
}

.email input {
  width: 300px;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--white);
  padding: 10px 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.email input::placeholder {
  color: var(--white);
}

.email button {
  background: var(--blue);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);

  color: var(--white);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  width: 118px;
  height: 38px;

  transition: 0.5s all;
}

.email button:hover {
  background: var(--white-200);
  color: var(--blue);
}
